body { background: #f5aaba; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 21px; display: flex; }
.block-product-0 { color: #b01c7c; font-size: 17px; margin-bottom: 5px; }
.block-user-1 { color: #cb22a; font-size: 20px; margin-bottom: 5px; }
.block-session-2 { color: #9fca49; font-size: 13px; margin-bottom: 5px; }
.block-invoice-3 { color: #c9a37a; font-size: 19px; margin-bottom: 5px; }
.block-config-4 { color: #54f980; font-size: 15px; margin-bottom: 5px; }